.header{
    font-style: italic;
    text-align: center;
    color: lightcoral;
    letter-spacing: 1px;
    height: 8vh;
    background-color: lightgray;
}
@media only screen and (max-width: 450px) {
    .header{
        font-style: italic;
        text-align: center;
        color: lightcoral;
        letter-spacing: 1px;
        height: 8vh;
        background-color: lightgray;
        font-size: 10px;
    }
}